<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<header class="card" style="font-size: 12pt; margin-left: 42pt">
  <div class="card-header">
    <div class="float-left">
      <span style="color: darkred; font-weight: 600">Global Navigation Demo</span>
    </div>
    <div class="float-right">
      <span>Name / Company</span>
      <i class="fa fa-sign-out-alt fa-lg fa-fw"></i>
    </div>
  </div>
</header>

<div class="glob-menu">
  <div class="glob-menu-brand">
    <a style="float: left" class="glob-menu-logo" href="http://springer.technology">
      icon
    </a>
  </div>

  <div class="accordion-group" style="clear:both">

    <div class="glob-menu-icon" data-toggle="tooltop" title="Dashboard">
      <a data-toggle="collapse" data-target="#example1">
      <i class="fa fa-tachometer-alt fa-lg fa-fw"></i></a>
    </div>

    <div class="glob-menu-icon" data-toggle="tooltop" title="Example 2">
      <a data-toggle="collapse" data-target="#example2">
      <i class="fa fa-vial fa-lg fa-fw"></i></a>
    </div>

    <div class="glob-menu-icon" data-toggle="tooltop" title="Example 3">
      <a data-toggle="collapse" data-target="#example3">
      <i class="fa fa-database fa-lg fa-fw"></i></a>
    </div>

  </div>

  <div id="menugroup">

    <div class="pop-out-menu collapse" id="example1" data-parent="#menugroup">
      <div class="card">
        <div class="card-header">
          Dashboard
        </div>
        <ul>
          <li><a class="nav-link" href="#">List</a></li>
          <li><a class="nav-link" href="#">Reports</a></li>
          <li><a class="nav-link" href="#">Other</a></li>
        </ul>
      </div>
      <div class="card footer">
        <div class="card-header">
          <div class="float-right">
            <span class="badge badge-primary" style="margin-left: 1em"> DEV</span>
            <span> v1.0.0</span>
          </div>
        </div>
      </div>
    </div>

    <div class="pop-out-menu collapse" id="example2" data-parent="#menugroup">
      <div class="card">
        <div class="card-header">
          Example 2
        </div>
        <ul>
          <li><a class="nav-link" href="#">List</a></li>
          <li><a class="nav-link" href="#">Reports</a></li>
          <li><a data-toggle="collapse" data-target="#config">Configuration</a></li>
        </ul>
        <div class="pop-out-sub-menu collapse" id="config">
          <ul>
            <li><a class="nav-link" href="#">Nuts</a></li>
            <li><a class="nav-link" href="#">Bolts</a></li>
            <li><a class="nav-link" href="#">Widgets</a></li>
          </ul>
        </div>
      </div>
      <div class="card footer">
        <div class="card-header">
          <div class="float-right">
            <span class="badge badge-primary" style="margin-left: 1em"> DEV</span>
            <span> v1.0.0</span>
          </div>
        </div>
      </div>
    </div>

    <div class="pop-out-menu collapse" id="example3" data-parent="#menugroup">
      <div class="card">
        <div class="card-header">
          Example 3
        </div>
        <ul>
          <li><a class="nav-link" href="#">List</a></li>
          <li><a class="nav-link" href="#">Reports</a></li>
          <li><a class="nav-link" href="#">Other</a></li>
        </ul>
      </div>
      <div class="card footer">
        <div class="card-header">
          <div class="float-right">
            <span class="badge badge-primary" style="margin-left: 1em"> DEV</span>
            <span> v1.0.0</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
